In [148]:
import requests
import pandas as pd
import numpy as np

In [1]:
"""for i in range(1199,1356):
    name=data.loc[i,"name"]
    country=data.loc[i,"departure"]
    params={"name":name,"country":country,"key":"GapZCmeSYJDaRQMBnRZmM4P3K7ZQqvveVavo"}
    r=requests.get("https://gender-api.com/get",params=params)
    accuracy=r.json()["accuracy"]
    gender=r.json()["gender"]
    data.loc[i,"gender"]=gender
    data.loc[i,"accuracy"]=accuracy
    """

'for i in range(1199,1356):\n    name=data.loc[i,"name"]\n    country=data.loc[i,"departure"]\n    params={"name":name,"country":country,"key":"GapZCmeSYJDaRQMBnRZmM4P3K7ZQqvveVavo"}\n    r=requests.get("https://gender-api.com/get",params=params)\n    accuracy=r.json()["accuracy"]\n    gender=r.json()["gender"]\n    data.loc[i,"gender"]=gender\n    data.loc[i,"accuracy"]=accuracy\n    '

In [155]:
"""def fun(item):
    find=re.findall("\[.*",str(item))
    return len(find)
s=a.apply(fun)
final=pd.DataFrame({"arrival":a,"number":s})

def fun_2(item):
    if item.number==0:
        return item.arrival
    else:
        lenght=len(item.arrival[1:-1].split(","))
        lista=item.arrival[1:-1].split(",")
        real_list=[lista[i].replace("'","").strip() for i in range(lenght)]
            
            
final.apply(fun_2,axis=1)"""

                             arrival  number
0                    American Samoa        0
1                           Lebanon        0
2                             India        0
3                     United States        0
4      ['Sudan ', 'United Kingdom ']       1
...                              ...     ...
1353                          Libya        0
1354                          Libya        0
1355                          Libya        0
1356            ['Italy ', 'Libya ']       1
1357  ['Italy ', 'Libya ', 'Niger ']       1

[1358 rows x 2 columns]

In [184]:
"""def contries_count(element):
    if type(element)==list:
        return len(element)
    else:
        return 1
df["arrival"].apply(contries_count).max()
def contries_to_list(element):
    l= [np.nan]*3
    if type(element)==list:
        for i in range(len(element)):
            l[i]=element[i]
    else:
        l[0]= element
    
    return l
df[["arrival_1","arrival_2","arrival_3"]]=pd.DataFrame(df["arrival"].apply(contries_to_list).to_list())"""

In [228]:
"""def tran_date(item):
    return pd.to_datetime(item,format="%Y-%Y")
df_final_with_url.loc[2:,'date_slavery'].apply(tran_date)
"""

'def tran_date(item):\n    return pd.to_datetime(item,format="%Y-%Y")\ndf_final_with_url.loc[2:,\'date_slavery\'].apply(tran_date)\n'

In [260]:
df=pd.read_csv("/Users/fenice/code/QZKZ3/ht_project/raw_data/df_final_with_url_and_column_themes.csv")