In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('extracted_locations.csv')
data

,Unnamed: 0,location,victim_index,latitude_x,longitude_x,country,country_code,departure,latitude_y,longitude_y,arrival_1,arrival_2,arrival_3
0,4,United States,42,37.990660,-81.426500,United States,USA,Philippines,34.052234,-118.243685,United States,NaN,NaN
1,5,United States,42,39.715956,-96.999668,United States,USA,Philippines,34.052234,-118.243685,United States,NaN,NaN
2,9,California,42,36.531544,-119.586168,United States,USA,Philippines,34.052234,-118.243685,United States,NaN,NaN
3,11,United States,59,37.990660,-81.426500,United States,USA,Indonesia,37.090240,-95.712891,United States,NaN,NaN
4,12,United States,59,39.715956,-96.999668,United States,USA,Indonesia,37.090240,-95.712891,United States,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2747,White,1134,40.650192,-79.168325,United States,USA,United States,37.090240,-95.712891,United States,NaN,NaN
940,2748,House,1134,32.628750,-88.994780,United States,USA,United States,37.090240,-95.712891,United States,NaN,NaN
941,2749,Nebraska,1163,41.499671,-99.810075,United States,USA,United States,41.492538,-99.901810,United States,NaN,NaN
942,2750,Nebraska,1172,41.499671,-99.810075,United States,USA,United States,41.492538,-99.901810,United States,NaN,NaN
943,2753,Kyrgyzstan,1257,40.937490,73.360830,Kyrgyzstan,KGZ,Kyrgyzstan,41.204380,74.766098,Kyrgyzstan,NaN,NaN