## Gender Recognition

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../raw_data/database.csv")

In [4]:
data.head()

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery
0,0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,NaN
1,1,Thank you for the opportunity to testify befor...,Beatrice,2005,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,NaN
2,2,My sister and I were living in a village. We w...,Kavita,2004,Sri Lank,India,Domestic slavery,24.071318,79.652396,2002-2004
3,3,I grew up in a village of between 500 and 700 ...,Maria,2005,Mexico,United States,Domestic slavery,40.412044,-96.870925,1976-1981
4,4,"I was living in a village, Karko, in the Nuba ...",Mende,2003,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,1994-2000