## Gender Recognition

In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("../raw_data/database.csv")

In [20]:
data.head()

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery
0,0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,NaN
1,1,Thank you for the opportunity to testify befor...,Beatrice,2005,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,NaN
2,2,My sister and I were living in a village. We w...,Kavita,2004,Sri Lank,India,Domestic slavery,24.071318,79.652396,2002-2004
3,3,I grew up in a village of between 500 and 700 ...,Maria,2005,Mexico,United States,Domestic slavery,40.412044,-96.870925,1976-1981
4,4,"I was living in a village, Karko, in the Nuba ...",Mende,2003,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,1994-2000

In [21]:
data['name'][0]

'Vi'

In [22]:
data['gender']= 0

> Using gender API: it will return the gender and accuracy of our names column

In [24]:
import requests

for i in range(500,502):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy
    print(data.loc[i,["gender", "accuracy"]])

gender      female
accuracy      75.0
Name: 500, dtype: object
gender      female
accuracy      94.0
Name: 501, dtype: object

In [25]:
data[500:502]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
500,500,I was trafficked from Nigeria two years ago. I...,Idora,2013,Nigeria,United Kingdom,Sexual exploitation,55.378051,-3.435973,2011-2013,female,75.0
501,501,It is only with the heart that one can see rig...,Jana,2010,Nigeria,Slovenia,Sexual exploitation,46.054661,14.493645,NaN,female,94.0

In [26]:
for i in range(400,500):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy
    print(data.loc[i,["gender", "accuracy"]])

gender      female
accuracy      88.0
Name: 400, dtype: object
gender      male
accuracy    97.0
Name: 401, dtype: object
gender      female
accuracy      98.0
Name: 402, dtype: object
gender      unknown
accuracy        0.0
Name: 403, dtype: object
gender      male
accuracy    97.0
Name: 404, dtype: object
gender      female
accuracy      75.0
Name: 405, dtype: object
gender      male
accuracy    74.0
Name: 406, dtype: object
gender      female
accuracy      75.0
Name: 407, dtype: object
gender      female
accuracy      99.0
Name: 408, dtype: object
gender      female
accuracy      51.0
Name: 409, dtype: object
gender      female
accuracy      96.0
Name: 410, dtype: object
gender      female
accuracy      96.0
Name: 411, dtype: object
gender      female
accuracy      98.0
Name: 412, dtype: object
gender      female
accuracy      60.0
Name: 413, dtype: object
gender      female
accuracy      99.0
Name: 414, dtype: object
gender       male
accuracy    100.0
Name: 415, dtype: object
gender      unknown
accuracy        0.0
Name: 416, dtype: object
gender      female
accuracy     100.0
Name: 417, dtype: object
gender      male
accuracy    83.0
Name: 418, dtype: object
gender      female
accuracy      98.0
Name: 419, dtype: object
gender       male
accuracy    100.0
Name: 420, dtype: object
gender      unknown
accuracy       50.0
Name: 421, dtype: object
gender      male
accuracy    75.0
Name: 422, dtype: object
gender      female
accuracy     100.0
Name: 423, dtype: object
gender      female
accuracy      99.0
Name: 424, dtype: object
gender       male
accuracy    100.0
Name: 425, dtype: object
gender       male
accuracy    100.0
Name: 426, dtype: object
gender      female
accuracy      75.0
Name: 427, dtype: object
gender      female
accuracy      69.0
Name: 428, dtype: object
gender      male
accuracy    55.0
Name: 429, dtype: object
gender      female
accuracy      98.0
Name: 430, dtype: object
gender      female
accuracy      52.0
Name: 431, dtype: object
gender      female
accuracy      98.0
Name: 432, dtype: object
gender      female
accuracy      98.0
Name: 433, dtype: object
gender      female
accuracy      97.0
Name: 434, dtype: object
gender      female
accuracy      97.0
Name: 435, dtype: object
gender      male
accuracy    97.0
Name: 436, dtype: object
gender      female
accuracy      75.0
Name: 437, dtype: object
gender      male
accuracy    99.0
Name: 438, dtype: object
gender      female
accuracy     100.0
Name: 439, dtype: object
gender       male
accuracy    100.0
Name: 440, dtype: object
gender      unknown
accuracy        0.0
Name: 441, dtype: object
gender       male
accuracy    100.0
Name: 442, dtype: object
gender      unknown
accuracy        0.0
Name: 443, dtype: object
gender      unknown
accuracy       50.0
Name: 444, dtype: object
gender       male
accuracy    100.0
Name: 445, dtype: object
gender      female
accuracy      69.0
Name: 446, dtype: object
gender      female
accuracy      97.0
Name: 447, dtype: object
gender      male
accuracy    57.0
Name: 448, dtype: object
gender      female
accuracy      97.0
Name: 449, dtype: object
gender      female
accuracy      96.0
Name: 450, dtype: object
gender      female
accuracy      99.0
Name: 451, dtype: object
gender      female
accuracy      97.0
Name: 452, dtype: object
gender      female
accuracy      83.0
Name: 453, dtype: object
gender      female
accuracy      98.0
Name: 454, dtype: object
gender      female
accuracy      83.0
Name: 455, dtype: object
gender      female
accuracy      75.0
Name: 456, dtype: object
gender      female
accuracy      94.0
Name: 457, dtype: object
gender      female
accuracy      94.0
Name: 458, dtype: object
gender      female
accuracy      93.0
Name: 459, dtype: object
gender      female
accuracy      95.0
Name: 460, dtype: object
gender      female
accuracy      83.0
Name: 461, dtype: object
gender      female
accuracy     100.0
Name: 462, dtype: object
gender      male
accuracy    62.0
Name: 463, dtype: object
gender      male
accuracy    62.0
Name: 464, dtype: object
gender      female
accuracy     100.0
Name: 465, dtype: object
gender      female
accuracy      91.0
Name: 466, dtype: object
gender      female
accuracy     100.0
Name: 467, dtype: object
gender      female
accuracy      98.0
Name: 468, dtype: object
gender      female
accuracy      96.0
Name: 469, dtype: object
gender       male
accuracy    100.0
Name: 470, dtype: object
gender      female
accuracy     100.0
Name: 471, dtype: object
gender      female
accuracy      86.0
Name: 472, dtype: object
gender      female
accuracy     100.0
Name: 473, dtype: object
gender      female
accuracy     100.0
Name: 474, dtype: object
gender      female
accuracy      93.0
Name: 475, dtype: object
gender      female
accuracy     100.0
Name: 476, dtype: object
gender      male
accuracy    97.0
Name: 477, dtype: object
gender      female
accuracy      95.0
Name: 478, dtype: object
gender      female
accuracy      99.0
Name: 479, dtype: object
gender      female
accuracy      59.0
Name: 480, dtype: object
gender      female
accuracy      96.0
Name: 481, dtype: object
gender      female
accuracy      94.0
Name: 482, dtype: object
gender      female
accuracy      89.0
Name: 483, dtype: object
gender      male
accuracy    73.0
Name: 484, dtype: object
gender      female
accuracy      98.0
Name: 485, dtype: object
gender      female
accuracy      98.0
Name: 486, dtype: object
gender      female
accuracy      97.0
Name: 487, dtype: object
gender      female
accuracy      99.0
Name: 488, dtype: object
gender      female
accuracy      98.0
Name: 489, dtype: object
gender      female
accuracy      98.0
Name: 490, dtype: object
gender      female
accuracy     100.0
Name: 491, dtype: object
gender      female
accuracy      96.0
Name: 492, dtype: object
gender      female
accuracy      95.0
Name: 493, dtype: object
gender      female
accuracy      80.0
Name: 494, dtype: object
gender      female
accuracy     100.0
Name: 495, dtype: object
gender      male
accuracy    97.0
Name: 496, dtype: object
gender      female
accuracy     100.0
Name: 497, dtype: object
gender      male
accuracy    77.0
Name: 498, dtype: object
gender      male
accuracy    75.0
Name: 499, dtype: object

In [28]:
data[400:502]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
400,400,I wanted to become a doctor when I was a kid. ...,Ika,2012,NaN,Indonesia,too much themes,1.045626,104.030454,NaN,female,88.0
401,401,"I graduated from junior high school, I had no ...",Ismail,2012,NaN,Indonesia,"['Forced labour', 'Debt bondage']",1.666635,101.400186,NaN,male,97.0
402,402,My mom didn’t work and my dad worked in the fi...,Janet,2011,NaN,Malaysia,Sexual exploitation,4.210484,101.975766,NaN,female,98.0
403,403,My parents were working but they found it very...,Joeychev,2011,NaN,Philippines,"['Children', 'Sexual exploitation']",12.879721,121.774017,NaN,unknown,0.0
404,404,My mom’s job was sleeping with men for money. ...,Jose,2012,Mexico,Mexico,Children,15.137663,-92.465919,NaN,male,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...
497,497,My name is Henriette Akofa. I come from Togo. ...,Henriette,2015,Togo,France,"['Domestic slavery', 'Forced labour']",46.227638,2.213749,NaN,female,100.0
498,498,Our boat was stealing fish from Indonesian wat...,Htay,2013,Togo,Thailand,Forced labour,15.258817,100.862061,NaN,male,77.0
499,499,"When I was 16, my parents borrowed £5000 to pa...",Hung,2013,Vietnam,United Kingdom,Forced labour,55.378051,-3.435973,NaN,male,75.0
500,500,I was trafficked from Nigeria two years ago. I...,Idora,2013,Nigeria,United Kingdom,Sexual exploitation,55.378051,-3.435973,2011-2013,female,75.0
501,501,It is only with the heart that one can see rig...,Jana,2010,Nigeria,Slovenia,Sexual exploitation,46.054661,14.493645,NaN,female,94.0

In [29]:
for i in range(502,600):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [30]:
data[502:600]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
502,502,My name is Jonas. I am 46-years-old and come f...,Jonas,2017,Lithuania,United Kingdom,Forced labour,55.378051,-3.435973,NaN,male,100.0
503,503,"My name is Josefa Condori. As a child, I was a...",Josefa,2013,Peru,Peru,Domestic slavery,-11.998837,-77.047969,NaN,female,92.0
504,504,My name is Jovie and I grew up in a mountainou...,Jovie,2015,Philippines,Philippines,Sexual exploitation,12.879721,121.774017,NaN,female,75.0
505,505,It all began in the early morning hours of 9 A...,K,2013,Germany,Germany,Sexual exploitation,51.165691,10.451526,NaN,unknown,0.0
506,506,I was tricked. I was trafficked by my own aunt...,Kamala,2015,Nepal,India,Domestic slavery,20.593684,78.962880,NaN,female,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
595,595,"My name is Masha, and I am from Southern Russi...",Masha,2000,Russia,Germany,"['Sexual exploitation', 'Debt bondage']",53.551085,9.993682,NaN,female,99.0
596,596,I grew up with my mother in the village of Cos...,Milena,2005,Moldova,Russia,Sexual exploitation,55.755826,37.617300,NaN,female,98.0
597,597,I was born in Korce in Albania in 1984. I live...,Miranda,International,Albania,Belgium,too much themes,50.850346,4.351721,NaN,female,94.0
598,598,I was captured in 1996. Soldiers came to my vi...,Ngor,1999,Sudan,Sudan,War slavery,12.862807,30.217636,NaN,male,100.0
599,599,Living on the boat was like facing death. Work...,Atith,2015,Sudan,Thailand,Forced labour,15.870032,100.992538,NaN,male,94.0

In [31]:
for i in range(600,700):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [32]:
data[600:700]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
600,600,Some people are beaten until they lose conscio...,Boran,2015,Sudan,Thailand,Forced labour,15.870032,100.992538,NaN,male,100.0
601,601,"When I was working in Phnom Penh, a woman from...",Bopha,2016,Cambodia,China,Forced marriage,35.861660,104.195396,NaN,female,85.0
602,602,The woman introduced me to a man who would pro...,Botum,2016,Cambodia,China,Forced marriage,35.861660,104.195396,NaN,female,100.0
603,603,"At the airport in Cambodia, I met other four y...",Champei,2016,Cambodia,China,Forced marriage,35.861660,104.195396,NaN,unknown,0.0
604,604,The situation was deteriorating. I was frustra...,Chanlina,2016,Cambodia,China,Forced marriage,35.861660,104.195396,NaN,female,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,My father has two wives and five children. My ...,Dharavath,2018,India,India,"['Forced marriage', 'Children']",18.112436,79.019302,NaN,male,91.0
696,696,I am studying in Class XII. My father died whe...,Vajja,2018,India,India,"['Forced marriage', 'Children']",18.112436,79.019302,NaN,male,60.0
697,697,I helped pull the net from the river. I scoope...,Miriam,2015,India,Ghana,"['Children', 'Forced labour']",7.173190,0.477130,NaN,female,99.0
698,698,We had gone to draw the net and I was asked to...,Evans,2015,India,Ghana,"['Children', 'Forced labour']",7.173190,0.477130,NaN,male,90.0
699,699,I was 7 years old when I was raped. When I tol...,Adjua,2015,India,Ghana,"['Children', 'Forced labour']",7.173190,0.477130,NaN,female,100.0

In [33]:
for i in range(700,800):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [34]:
data[700:800]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
700,700,"Hello my name is Francis Bok, I wanna talk abo...",Francis,2007,Sudan,Sudan,"['Children', 'War slavery']",12.862807,30.217636,NaN,male,85.0
701,701,I was in and out of foster care. My mother kis...,Dee,2016,United States,United States,Sexual exploitation,42.196220,-76.059952,NaN,male,60.0
702,702,When I was 15 I was at a local restaurant in A...,Tricia,2016,United States,United States,Sexual exploitation,42.196220,-76.059952,NaN,female,100.0
703,703,We were seven children in the family. Three br...,Ruksana,2016,United States,India,Forced marriage,20.593683,78.962883,NaN,female,75.0
704,704,I was married at the age of 13. My husband was...,Shabnam,2016,United States,India,Forced marriage,20.593683,78.962883,NaN,female,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,They took me to the house where the cannabis w...,Snow,2016,Togo,Thailand,Forced labour,15.870032,100.992538,NaN,female,100.0
796,796,I only had my period once at my father’s house...,Geeta,2016,Nepal,Nepal,"['Forced marriage', 'Children']",28.394857,84.124008,NaN,female,75.0
797,797,I was the one who got sick often. I had stomac...,Charya,2015,Cambodia,Thailand,Forced labour,15.870032,100.992538,NaN,female,60.0
798,798,I married at 21 because I loved my wife. I nev...,Afzal,2002,Bangladesh,Kuwait,"['Sexual exploitation', 'Domestic slavery']",29.311661,47.481766,NaN,male,100.0
799,799,"As a child my father used to beat me, so I ran...",NaN,NaN,United Kingdom,"['Greece ', 'France ']",Trafficking,47.345104,1.921062,NaN,female,57.0

In [35]:
for i in range(800,900):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=9q8h9wAqm3S4cj9qbt9PeyUokfoTqhE6QkXx'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [37]:
data[800:850]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
800,800,"Madame Chairperson, Mr. Secretary-General, Exc...",Grace,2009,Uganda,Sudan,"['Children', 'War slavery']",12.862807,30.217636,1996-1997,female,100.0
801,801,I was told by an acquaintance to work at his r...,Gun,1994,Thailand,Japan,Sexual exploitation,36.204823,138.252930,NaN,male,100.0
802,802,Drugs and alcohol became part of the picture a...,Rachel,2017,United States,United States,Sexual exploitation,37.090240,-95.712891,NaN,female,100.0
803,803,"My family, my mother and father met in Califor...",Flora,2018,United States,United States,Sexual exploitation,37.090240,-95.712891,NaN,female,99.0
804,804,"I am originally from Pyongyang, and I escaped ...",Su-Jin,2010,North Korea,"['North Korea', 'China ']",Trafficking,40.339851,127.510094,NaN,male,76.0
805,805,"My name is Bahng Mi Sun, and I entered South K...",Bahng,2010,North Korea,"['North Korea', 'China ']","['Forced labour', 'Trafficking']",40.339851,127.510094,NaN,male,100.0
806,806,Hello. My name is Jin Hae Jo. I have been in t...,Jin,2010,North Korea,North Korea,Trafficking,40.339851,127.510094,NaN,male,83.0
807,807,"I left NK through On Sung, North Ham Kyung Pro...",Song-Hyun,2010,North Korea,China,Trafficking,35.861660,104.195396,2007-2010,female,75.0
808,808,My name is Jang Mi Kyung. I left my home town ...,NaN,NaN,North Korea,China,Forced marriage,35.861660,104.195396,NaN,female,57.0
809,809,I left NK in 2009 following a woman into China...,Keum-Ju,2010,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0
810,810,My name is Mi Kyung. I am working at a place w...,NaN,NaN,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0
811,811,I was a technician at the clothing factory. Wh...,KH,2010,North Korea,China,Trafficking,35.861660,104.195396,2003-2009,male,60.0
812,812,"I came from xx county, Hamkyung province in NK...",Lee,2010,North Korea,China,Trafficking,35.861660,104.195396,NaN,male,80.0
813,813,I was a merchant selling goods at XX city mark...,Kim,2010,North Korea,"['China ', 'North Korea']",Trafficking,35.861660,104.195396,2002-2007,unknown,0.0
814,814,"I came from xx county in NK, a merchant who se...",Choi,2010,North Korea,China,Trafficking,35.861660,104.195396,2004-2008,unknown,0.0
815,815,I came to Hyesan city to do business with my s...,Kim,2010,North Korea,China,Trafficking,35.861660,104.195396,2003-2010,unknown,0.0
816,816,I would like to say thank you for the opportun...,Phuong-Anh,2012,Vietnam,Jordan,Forced labour,30.585163,36.238415,NaN,unknown,0.0
817,817,"I asked them, ‘Where are we going?’ and they r...",Aasrita,2016,NaN,NaN,Forced marriage,29.058777,76.085602,NaN,unknown,0.0
818,818,My name is Adut Ageny. When I was a young girl...,Adut,2019,NaN,NaN,War slavery,12.862807,30.217636,NaN,unknown,0.0
819,819,"I came to the UK on the promise of a friend, I...",Andrei,2019,NaN,NaN,Forced labour,55.378052,-3.435973,NaN,unknown,0.0
820,820,My name is Anil. I’m 13-years old. I was up at...,Anil,2017,NaN,NaN,Children,20.593683,78.962883,NaN,unknown,0.0
821,821,"I had a really good childhood, um, my father w...",Anne,2018,NaN,NaN,Sexual exploitation,46.729553,-94.685898,NaN,unknown,0.0
822,822,"When I was 14, I came to Phnom Penh to work as...",Davi,2017,NaN,NaN,Sexual exploitation,12.565679,104.990967,NaN,unknown,0.0
823,823,I went with a friend of mine. We just crossed ...,Antonella,2016,NaN,NaN,Migration,-16.290154,-63.588654,NaN,unknown,0.0
824,824,"A recruiter came to our village, people were a...",Archun,2011,United States,Thailand,Forced labour,37.090240,-95.712891,NaN,unknown,0.0
825,825,I was nine when the war erupted and our home w...,Asseel,2019,United States,Lebanon,Forced marriage,33.854721,35.862285,NaN,unknown,0.0
826,826,Life was very hard. I went to look for a job c...,Beatrice,2019,NaN,NaN,Forced labour,-0.023559,37.906193,NaN,unknown,0.0
827,827,"I come from a small village in Georgia, where ...",Chinara,2019,NaN,NaN,Forced marriage,41.693630,44.801620,NaN,unknown,0.0
828,828,You’re under their control totally. You can on...,Dacha,2011,NaN,NaN,Forced labour,37.090240,-95.712891,NaN,unknown,0.0
829,829,They took us as wives straightaway. We had to ...,Fabienne,2004,NaN,NaN,"['Armed conflict', 'Sexual exploitation']",-3.373056,29.918886,NaN,unknown,0.0
830,830,I signed a contract which said US$400 a month ...,SS,2014,NaN,NaN,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
831,831,"I slept in the room outside, it is a storage r...",Analyn,2014,NaN,NaN,Sexual exploitation,25.354826,51.183884,NaN,unknown,0.0
832,832,I told Madam I was scared of sir. When sir sho...,Angelica,2014,NaN,NaN,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
833,833,I work really long hours. I wake up at 05:00 a...,AS,2014,NaN,NaN,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
834,834,My employer treated me as if I was his wife. I...,DH,2014,NaN,NaN,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
835,835,I like being called Favour because it has a di...,Favour,2019,NaN,NaN,"['Children', 'Domestic slavery']",8.460555,-11.779889,NaN,unknown,0.0
836,836,"I believe there is Juju, it happens. Before I ...",Grace,2015,NaN,Nigeria,Sexual exploitation,55.378052,-3.435973,NaN,unknown,0.0
837,837,I didn’t want to get married. I wanted first t...,Habiba,2019,NaN,NaN,Forced marriage,3.848032,11.502075,NaN,unknown,0.0
838,838,I was pregnant with one baby when I managed to...,Sade,2019,NaN,Nigeria,Sexual exploitation,55.378052,-3.435973,NaN,unknown,0.0
839,839,I worked on a farm before. I worked on rubber ...,Hlaing,2016,NaN,NaN,Debt bondage,-0.789275,113.921327,NaN,unknown,0.0
840,840,"My story happened in Ljubljana, Slovenia, wher...",Jane,2017,NaN,NaN,Sexual exploitation,46.054661,14.493645,NaN,unknown,0.0
841,841,"I had a pretty good childhood, your middle-cla...",Jenny,2018,NaN,NaN,Sexual exploitation,46.729553,-94.685898,NaN,unknown,0.0
842,842,"Um, well my childhood was pretty good, ‘til th...",Jessica,2018,NaN,NaN,Sexual exploitation,46.729553,-94.685898,NaN,unknown,0.0
843,843,"My childhood, I kind of felt like I didn’t mat...",Laurie,2018,NaN,United States,Sexual exploitation,46.729553,-94.685898,NaN,unknown,0.0
844,844,I was born in Somalia and I did not grow up wi...,Ms,2018,NaN,NaN,Sexual exploitation,46.729553,-94.685898,NaN,unknown,0.0
845,845,"A lady came to offer things, she asked my mum,...",Jilda,2016,NaN,NaN,Forced labour,-38.416096,-63.616673,NaN,unknown,0.0
846,846,"Sometimes you see 3 men, sometimes 4 in a day....",Joy,2018,Nigeria,Italy,Sexual exploitation,41.871940,12.567380,NaN,unknown,0.0
847,847,The first month they paid me 750 riyals [US$20...,KN,2014,Qatar,Philippines,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
848,848,"The dog sleeps in the kitchen at night, so I h...",LL,2014,NaN,NaN,Domestic slavery,25.354826,51.183884,NaN,unknown,0.0
849,849,My husband’s family paid a dowry of goats and ...,Loyia,2019,NaN,NaN,Forced marriage,1.373333,32.290275,NaN,unknown,0.0

In [43]:
data_401_811 = data[401:811]
data_401_811

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
401,401,"I graduated from junior high school, I had no ...",Ismail,2012,NaN,Indonesia,"['Forced labour', 'Debt bondage']",1.666635,101.400186,NaN,male,97.0
402,402,My mom didn’t work and my dad worked in the fi...,Janet,2011,NaN,Malaysia,Sexual exploitation,4.210484,101.975766,NaN,female,98.0
403,403,My parents were working but they found it very...,Joeychev,2011,NaN,Philippines,"['Children', 'Sexual exploitation']",12.879721,121.774017,NaN,unknown,0.0
404,404,My mom’s job was sleeping with men for money. ...,Jose,2012,Mexico,Mexico,Children,15.137663,-92.465919,NaN,male,97.0
405,405,"When I was 15 years old, I helped my family by...",Khanh,2012,Mexico,Malaysia,Domestic slavery,4.210484,101.975766,NaN,female,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
806,806,Hello. My name is Jin Hae Jo. I have been in t...,Jin,2010,North Korea,North Korea,Trafficking,40.339851,127.510094,NaN,male,83.0
807,807,"I left NK through On Sung, North Ham Kyung Pro...",Song-Hyun,2010,North Korea,China,Trafficking,35.861660,104.195396,2007-2010,female,75.0
808,808,My name is Jang Mi Kyung. I left my home town ...,NaN,NaN,North Korea,China,Forced marriage,35.861660,104.195396,NaN,female,57.0
809,809,I left NK in 2009 following a woman into China...,Keum-Ju,2010,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0
810,810,My name is Mi Kyung. I am working at a place w...,NaN,NaN,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0

In [40]:
data_to_400 = pd.read_csv("../raw_data/data_to_400.csv")

In [41]:
data_to_400

,Unnamed: 0,Unnamed: 0.1,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
0,0,0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,NaN,female,67.0
1,1,1,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,NaN,female,98.0
2,2,2,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lank,India,Domestic slavery,24.071318,79.652396,2002-2004,female,97.0
3,3,3,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,United States,Domestic slavery,40.412044,-96.870925,1976-1981,female,100.0
4,4,4,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,1994-2000,male,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,396,396,I got married when I was eighteen. Six months ...,Eka,2011.0,NaN,NaN,Domestic slavery,1.352083,103.819836,NaN,female,63.0
397,397,397,I didn’t have plans to go abroad because I lik...,Erich,2011.0,NaN,NaN,"['Children', 'Sexual exploitation']",12.879721,121.774017,NaN,male,86.0
398,398,398,I got married and we lived like a normal marri...,Gai,2011.0,NaN,NaN,Sexual exploitation,36.204824,138.252924,NaN,male,52.0
399,399,399,My aunt and uncle were the ones who took me… I...,Gita,2011.0,NaN,India,"['Children', 'Sexual exploitation']",20.593684,78.962880,NaN,female,92.0
400,400,400,I wanted to become a doctor when I was a kid. ...,Ika,2012.0,NaN,Indonesia,too much themes,1.045626,104.030454,NaN,male,75.0

In [49]:
data_to_810 = pd.concat([data_to_400, data_401_811]).drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [51]:
data_to_810.to_csv("data_to_810.csv")

In [52]:
data.shape

(1358, 12)

In [53]:
for i in range(811,814):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=FYyLrvjhy6U7r8hzxVMvbtMnU7R4BUFKmV7L'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [54]:
data[811:814]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
811,811,I was a technician at the clothing factory. Wh...,KH,2010,North Korea,China,Trafficking,35.86166,104.195396,2003-2009,male,60.0
812,812,"I came from xx county, Hamkyung province in NK...",Lee,2010,North Korea,China,Trafficking,35.86166,104.195396,NaN,male,80.0
813,813,I was a merchant selling goods at XX city mark...,Kim,2010,North Korea,"['China ', 'North Korea']",Trafficking,35.86166,104.195396,2002-2007,male,51.0

In [55]:
for i in range(809,1201):
    url = f'https://gender-api.com/get?name={data.loc[i, "name"]}&country=IT&key=FYyLrvjhy6U7r8hzxVMvbtMnU7R4BUFKmV7L'
    response = requests.get(url)
    gender = response.json()['gender']
    accuracy = response.json()['accuracy']
    data.loc[i, "gender"]= gender
    data.loc[i, "accuracy"]= accuracy

In [56]:
data[809:1201]

,Unnamed: 0,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
809,809,I left NK in 2009 following a woman into China...,Keum-Ju,2010,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0
810,810,My name is Mi Kyung. I am working at a place w...,NaN,NaN,North Korea,China,Trafficking,35.861660,104.195396,NaN,female,57.0
811,811,I was a technician at the clothing factory. Wh...,KH,2010,North Korea,China,Trafficking,35.861660,104.195396,2003-2009,male,60.0
812,812,"I came from xx county, Hamkyung province in NK...",Lee,2010,North Korea,China,Trafficking,35.861660,104.195396,NaN,male,80.0
813,813,I was a merchant selling goods at XX city mark...,Kim,2010,North Korea,"['China ', 'North Korea']",Trafficking,35.861660,104.195396,2002-2007,male,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1196,1196,My expectations were that I would work in hous...,Mary,2016,Philippines,Lebanon,Domestic slavery,33.854721,35.862286,2013-2016,female,98.0
1197,1197,"It’s like your dead…because you’re scared, bec...",Natasha,2017,Romania,United Kingdom,Sexual exploitation,51.507351,-0.127758,NaN,female,99.0
1198,1198,She told us to wait for a while. Then she cam...,Anya,2017,Ukraine,Turkey,Sexual exploitation,38.963745,35.243320,NaN,female,99.0
1199,1199,He said his name was Apo. I was in hysterics....,Katia,2017,Ukraine,Turkey,Sexual exploitation,38.963745,35.243320,NaN,female,98.0
1200,1200,I am not treated as a human being. I am depriv...,Mila,2010,Philippines,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,97.0

In [60]:
data_from_1201 = pd.read_csv("../raw_data/data_from_1201.csv")
data_from_1201.set_index('Unnamed: 0',inplace = True)

In [61]:
data_from_1201

,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
Unnamed: 0,,,,,,,,,,,
1201,"I got used to getting beaten up, so I used to ...",Stella,2010,Philippines,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,99.0
1202,I had a difficult time. I managed really bad b...,Rukmini,2010,India,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,99.0
1203,There was a time I was about to kill myself be...,Grace,2010,United Arab Emirates,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,unknown,0.0
1204,My name is melody I’m from Nigeria. I lost my ...,Melody,2012,Nigeria,United Kingdom,"['Domestic slavery', 'Sexual exploitation']",51.507351,-0.127758,NaN,female,95.0
1205,"Before this, I hadn’t come across much evil in...",Tanya,2017,Nigeria,Ukraine,Sexual exploitation,52.321071,28.395882,NaN,female,100.0
...,...,...,...,...,...,...,...,...,...,...,...
1353,"My name is Suleiman Ali, I’m Sudanese. I want ...",Suleiman,2020,Egypt,Libya,Trafficking,26.335100,17.228331,NaN,male,100.0
1354,"In Nigeria, it was difficult to make a living....",Shola,2020,Nigeria,Libya,too much themes,26.335100,17.228331,NaN,male,80.0
1355,"My name is Seif Eldein. I’m 24 years old, from...",Seif,2020,Chad,Libya,"['Trafficking', 'Forced labour']",26.335100,17.228331,NaN,male,100.0
1356,I was begging and sleeping in the street behin...,Rita,2020,Nigeria,"['Italy ', 'Libya ']","['Sexual exploitation', 'Trafficking']",43.769562,11.255814,NaN,female,100.0
1357,I lived with my mother and father and they wer...,Nora,2020,Nigeria,"['Italy ', 'Libya ', 'Niger ']",too much themes,41.889499,12.528505,NaN,female,100.0

In [67]:
data.drop(columns = "Unnamed: 0", inplace = True)

In [75]:
data_401_1201 =data[401:1201]

In [79]:
data_to_400

,Unnamed: 0,Unnamed: 0.1,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
0,0,0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,NaN,female,67.0
1,1,1,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,NaN,female,98.0
2,2,2,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lank,India,Domestic slavery,24.071318,79.652396,2002-2004,female,97.0
3,3,3,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,United States,Domestic slavery,40.412044,-96.870925,1976-1981,female,100.0
4,4,4,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,1994-2000,male,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,396,396,I got married when I was eighteen. Six months ...,Eka,2011.0,NaN,NaN,Domestic slavery,1.352083,103.819836,NaN,female,63.0
397,397,397,I didn’t have plans to go abroad because I lik...,Erich,2011.0,NaN,NaN,"['Children', 'Sexual exploitation']",12.879721,121.774017,NaN,male,86.0
398,398,398,I got married and we lived like a normal marri...,Gai,2011.0,NaN,NaN,Sexual exploitation,36.204824,138.252924,NaN,male,52.0
399,399,399,My aunt and uncle were the ones who took me… I...,Gita,2011.0,NaN,India,"['Children', 'Sexual exploitation']",20.593684,78.962880,NaN,female,92.0
400,400,400,I wanted to become a doctor when I was a kid. ...,Ika,2012.0,NaN,Indonesia,too much themes,1.045626,104.030454,NaN,male,75.0

In [80]:
data_401_1201

,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
401,"I graduated from junior high school, I had no ...",Ismail,2012,NaN,Indonesia,"['Forced labour', 'Debt bondage']",1.666635,101.400186,NaN,male,97.0
402,My mom didn’t work and my dad worked in the fi...,Janet,2011,NaN,Malaysia,Sexual exploitation,4.210484,101.975766,NaN,female,98.0
403,My parents were working but they found it very...,Joeychev,2011,NaN,Philippines,"['Children', 'Sexual exploitation']",12.879721,121.774017,NaN,unknown,0.0
404,My mom’s job was sleeping with men for money. ...,Jose,2012,Mexico,Mexico,Children,15.137663,-92.465919,NaN,male,97.0
405,"When I was 15 years old, I helped my family by...",Khanh,2012,Mexico,Malaysia,Domestic slavery,4.210484,101.975766,NaN,female,75.0
...,...,...,...,...,...,...,...,...,...,...,...
1196,My expectations were that I would work in hous...,Mary,2016,Philippines,Lebanon,Domestic slavery,33.854721,35.862286,2013-2016,female,98.0
1197,"It’s like your dead…because you’re scared, bec...",Natasha,2017,Romania,United Kingdom,Sexual exploitation,51.507351,-0.127758,NaN,female,99.0
1198,She told us to wait for a while. Then she cam...,Anya,2017,Ukraine,Turkey,Sexual exploitation,38.963745,35.243320,NaN,female,99.0
1199,He said his name was Apo. I was in hysterics....,Katia,2017,Ukraine,Turkey,Sexual exploitation,38.963745,35.243320,NaN,female,98.0
1200,I am not treated as a human being. I am depriv...,Mila,2010,Philippines,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,97.0

In [81]:
data_from_1201

,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery,gender,accuracy
Unnamed: 0,,,,,,,,,,,
1201,"I got used to getting beaten up, so I used to ...",Stella,2010,Philippines,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,99.0
1202,I had a difficult time. I managed really bad b...,Rukmini,2010,India,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,female,99.0
1203,There was a time I was about to kill myself be...,Grace,2010,United Arab Emirates,United Kingdom,Domestic slavery,51.507351,-0.127758,NaN,unknown,0.0
1204,My name is melody I’m from Nigeria. I lost my ...,Melody,2012,Nigeria,United Kingdom,"['Domestic slavery', 'Sexual exploitation']",51.507351,-0.127758,NaN,female,95.0
1205,"Before this, I hadn’t come across much evil in...",Tanya,2017,Nigeria,Ukraine,Sexual exploitation,52.321071,28.395882,NaN,female,100.0
...,...,...,...,...,...,...,...,...,...,...,...
1353,"My name is Suleiman Ali, I’m Sudanese. I want ...",Suleiman,2020,Egypt,Libya,Trafficking,26.335100,17.228331,NaN,male,100.0
1354,"In Nigeria, it was difficult to make a living....",Shola,2020,Nigeria,Libya,too much themes,26.335100,17.228331,NaN,male,80.0
1355,"My name is Seif Eldein. I’m 24 years old, from...",Seif,2020,Chad,Libya,"['Trafficking', 'Forced labour']",26.335100,17.228331,NaN,male,100.0
1356,I was begging and sleeping in the street behin...,Rita,2020,Nigeria,"['Italy ', 'Libya ']","['Sexual exploitation', 'Trafficking']",43.769562,11.255814,NaN,female,100.0
1357,I lived with my mother and father and they wer...,Nora,2020,Nigeria,"['Italy ', 'Libya ', 'Niger ']",too much themes,41.889499,12.528505,NaN,female,100.0

> Concatenate all dataframes together

In [84]:
final_dataframe=pd.concat([data_to_400, data_401_1201, data_from_1201]).drop(columns=["Unnamed: 0","Unnamed: 0.1"])

In [85]:
final_dataframe.to_csv("final_dataframe.csv")

End of notebook