## Merge scrapped data and kaggle

In [2]:
import pandas as pd
import numpy as np

In [3]:
kaggle = pd.read_csv("/Users/paloma/Downloads/The_Global_K-anon_Dataset_15_July_2021 - CTDC_K_anon_ds.csv")
data = pd.read_csv("/Users/paloma/Downloads/df_year_cleaned_and_age_groups.csv")
data2 = pd.read_csv("dfht_25-11_17-08.csv")

/Users/paloma/.pyenv/versions/3.8.12/envs/ht_project/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,55,57) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
kaggle.columns

Index(['By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use',
       'yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'isSlaveryAndPractices', 'typeOfExploitConcatenated',
       'typeOfLabourAgriculture', 'typeOfLabourAquafarming',
       'typeOfLabourBegging', 'typeOfLabourConstruction',
       'typeOfLabourDomesticWork', 'typeOfLabourHospitality',
       'typeOfLabourIllicitActivities', 'typeOfLabourManufacturing',
       'typeOfLabourMiningOrDrilling', 'typeOfLabourPeddling',
       'typeOfLabourTransportation', 'typeOfLabourOther',
       'typeOfLabourNotSpecified', 'typeOfLabourConcatenated',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'typeOfSexPrivateSexualServices',
       'typeOfSexConcatenated', 'isAbduction', 'RecruiterRelationship',
       'CountryOfExploitation', 'recruiterRelationIntimatePartner',
       'recruiterRelationFriend', 'recruiterRelationFamily',
       'recruiterRelationOther', 'recruiterRelationUnknown'],
      dtype='object')

In [7]:
data3 = data2[['url', 'arrival_1', 'arrival_2', 'arrival_3',
       'theme_1', 'theme_2', 'date_slavery_from', 'date_slavery_to',
       'bought_sold_for', 'any_money_mention']]

In [9]:
data.merge(data3, how = 'left')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [5]:
#Rename citizenship as departure
kaggle.rename(columns={"citizenship": "departure", "CountryOfExploitation": ""})

,By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,departure,meansOfControlDebtBondage,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,NaN,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0
1,NaN,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0
2,NaN,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0
3,NaN,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0
4,NaN,2002.0,Case Management,Female,18--20,Adult,NaN,NaN,CO,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97745,NaN,NaN,Case Management,Male,9--17,Minor,NaN,NaN,CM,NaN,...,NaN,NaN,NaN,NaN,LY,0.0,0.0,0.0,0.0,1.0
97746,NaN,NaN,Case Management,Male,9--17,Minor,NaN,NaN,CM,NaN,...,NaN,NaN,NaN,NaN,LY,0.0,0.0,0.0,0.0,1.0
97747,NaN,NaN,Case Management,Male,9--17,Minor,NaN,NaN,CM,NaN,...,NaN,NaN,NaN,NaN,LY,0.0,0.0,0.0,0.0,1.0
97748,NaN,NaN,Case Management,Male,9--17,Minor,NaN,NaN,CM,NaN,...,NaN,NaN,NaN,NaN,LY,0.0,0.0,0.0,0.0,1.0
97749,NaN,NaN,Case Management,Male,9--17,Minor,NaN,NaN,CM,NaN,...,NaN,NaN,NaN,NaN,LY,0.0,0.0,0.0,0.0,1.0

In [25]:
data.columns

Index(['text', 'name', 'year', 'departure', 'arrival', 'theme', 'latitude',
       'longitude', 'date_slavery', 'gender', 'accuracy',
       'meansOfControlDebtBondage', 'meansOfControlExcessiveWorkingHours',
       'meansOfControlRestrictsMedicalCare', 'meansOfControlUsesChildren',
       'control_method_witchcraft', 'meansOfControlPhysicalAbuse',
       'meansOfControlPsychologicalAbuse',
       'meansOfControlRestrictsFinancialAccess',
       'meansOfControlRestrictsMovement', 'meansOfControlSexualAbuse',
       'meansOfControlTakesEarnings', 'meansOfControlThreatOfLawEnforcement',
       'meansOfControlThreats', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlWithholdsDocuments',
       'meansOfControlWithholdsNecessities', 'meansOfControlFalsePromises',
       'RecruiterRelationship', 'isAbduction', 'rec_method_online',
       'rec_method_recagency', 'recruiterRelationIntimatePartner',
       'recruiterRelationFamily', 'rec_method_social_media', 'traf_type_child',
       'isSexualExploit', 'isForcedLabour', 'isForcedMarriage',
       'traf_type_cmarriage', 'traf_type_domestic', 'traf_type_fcriminality',
       'isForcedMilitary', 'traf_type_fpregnancy', 'traf_type_illegaladoption',
       'isOrganRemoval', 'typeOfLabourHospitality', 'typeOfLabourAgriculture',
       'typeOfLabourAquafarming', 'traf_industry_cleaning',
       'typeOfLabourConstruction', 'typeOfLabourDomesticWork',
       'typeOfLabourIllicitActivities', 'traf_subtype_forestry',
       'traf_subtype_foodprocessing', 'traf_subtype_forcedbegging',
       'traf_subtype_healthcare', 'traf_subtype_healthbeauty',
       'traf_subtype_landscaping', 'typeOfLabourManufacturing',
       'traf_industry_clothes_manufacturing', 'typeOfLabourMiningOrDrilling',
       'typeOfSexProstitution', 'typeOfSexPornography',
       'typeOfSexRemoteInteractiveServices', 'traf_industry_retail',
       'traf_industry_sexualservitude', 'traf_industry_benefitfraud',
       'transport_plane', 'transport_boat', 'transport_bus', 'transport_ferry',
       'transport_motorbike', 'transport_onfoot', 'transport_car',
       'transport_shippingcontainer', 'transport_taxi', 'transport_train',
       'transport_truck', 'age_0_to_8', 'age_9_to_17', 'age_18_to_20',
       'age_21_to_23', 'age_24_to_26', 'age_27_to_29', 'age_30-38',
       'age_39_47', 'age_48+', 'ageBroad'],
      dtype='object')

In [26]:
concat_dfht_26_11_15_18 =pd.concat([data,kaggle], axis=0, ignore_index=True)

In [27]:
concat_dfht_26_11_15_37 = concat_dfht_26_11_15_18.drop(columns = 'By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use')

In [ ]:
concat_dfht_26_11_15_37['']

In [28]:
concat_dfht_26_11_15_37.to_csv("concat_dfht_26_11_15_17.csv")