## Machine Learning Model

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import learning_curve
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("/Users/paloma/Downloads/final_df.csv")

/Users/paloma/.pyenv/versions/3.8.12/envs/ht_project/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,4,26,87,89,90,91,92,95,96,100,101,104,108,114,116) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data

,text,name,year,departure,arrival,latitude,longitude,gender,accuracy,meansOfControlDebtBondage,...,typeOfLabourTransportation,typeOfLabourOther,typeOfLabourNotSpecified,typeOfLabourConcatenated,typeOfSexPrivateSexualServices,typeOfSexConcatenated,recruiterRelationFriend,recruiterRelationOther,recruiterRelationUnknown,alpha_3
0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,American Samoa,-14.354000,-170.773600,female,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASM
1,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lanka,Lebanon,33.900000,35.500000,female,98.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LBN
2,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lanka,India,24.071318,79.652396,female,97.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IND
3,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,United States,40.412044,-96.870925,female,100.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA
4,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,"['Sudan ', 'United Kingdom ']",16.865226,32.271106,male,90.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SDN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99103,NaN,NaN,NaN,Cameroon,NaN,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,LBY
99104,NaN,NaN,NaN,Cameroon,NaN,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,LBY
99105,NaN,NaN,NaN,Cameroon,NaN,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,LBY
99106,NaN,NaN,NaN,Cameroon,NaN,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,LBY
99107,NaN,NaN,NaN,Cameroon,NaN,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,LBY

In [4]:
data['gender'] = data['gender'].str.lower()

In [5]:
data['year'].isna().sum()

97779

In [6]:
data['gender'].value_counts()

female                       68795
male                         21905
unknown                        206
transgender/nonconforming       64
Name: gender, dtype: int64

In [7]:
data[['departure', 'arrival_1','theme_1']].isna().sum(axis = 0)

departure    44602
arrival_1    24353
theme_1      97754
dtype: int64

In [8]:
data['theme_1']

0           Forced labour
1        Domestic slavery
2        Domestic slavery
3        Domestic slavery
4             War slavery
               ...
99103                 NaN
99104                 NaN
99105                 NaN
99106                 NaN
99107                 NaN
Name: theme_1, Length: 99108, dtype: object

In [9]:
data['departure'].value_counts()

Philippines             11499
Ukraine                 10005
Moldova, Republic of     7593
United States            6506
Mexico                   2412
                        ...
Tunisia                     1
Poland                      1
Sweden                      1
Syria                       1
Germany                     1
Name: departure, Length: 110, dtype: int64

In [10]:
data['isSexualExploit'].isna().sum()

32349

In [11]:
data['isForcedLabour'].isna().sum()

32103

In [12]:
data[['gender', 'departure']].isna().sum(axis = 0)

gender        8138
departure    44602
dtype: int64

In [13]:
data[['gender', 'departure']].dropna()

       gender  departure
0      female    Vietnam
1      female  Sri Lanka
2      female  Sri Lanka
3      female     Mexico
4        male      Sudan
...       ...        ...
99103    male   Cameroon
99104    male   Cameroon
99105    male   Cameroon
99106    male   Cameroon
99107    male   Cameroon

[53561 rows x 2 columns]

In [14]:
data['gender'].value_counts()

female                       68795
male                         21905
unknown                        206
transgender/nonconforming       64
Name: gender, dtype: int64

In [15]:
data['departure'].value_counts()

Philippines             11499
Ukraine                 10005
Moldova, Republic of     7593
United States            6506
Mexico                   2412
                        ...
Tunisia                     1
Poland                      1
Sweden                      1
Syria                       1
Germany                     1
Name: departure, Length: 110, dtype: int64

In [16]:
import sklearn

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder

In [18]:
data_model = data[['gender', 'departure', 'isForcedLabour', 'ageBroad']].copy()
data_model.dropna(inplace = True)

In [19]:
model = RandomForestClassifier()

# Define X and y
X = data_model[['gender','departure']].copy()
y = data_model[['isForcedLabour']].copy()

#model.fit(X, y)

In [20]:
enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=999)
enc.fit(X)
X_proc = enc.transform(X)

In [21]:
model.fit(X_proc, y.values.flatten())

RandomForestClassifier()

In [22]:
y_pred = model.predict(X_proc)

In [23]:
y['pred'] = y_pred

In [24]:
y['correct'] = y['isForcedLabour'] == y['pred']

In [25]:
y['correct'].value_counts()

True     17434
False     1857
Name: correct, dtype: int64

In [26]:
y

       isForcedLabour  pred  correct
0                 0.0   0.0     True
1                 1.0   1.0     True
2                 0.0   1.0    False
3                 1.0   0.0    False
4                 1.0   0.0    False
...               ...   ...      ...
99103             1.0   1.0     True
99104             1.0   1.0     True
99105             1.0   1.0     True
99106             1.0   1.0     True
99107             1.0   1.0     True

[19291 rows x 3 columns]

In [27]:
missing_data = data[data['isForcedLabour'].isna()].copy()

In [28]:
missing_data = missing_data[['gender', 'departure', 'isForcedLabour']].copy()

In [29]:
missing_data.dropna(subset=['gender', 'departure'], inplace=True)

In [30]:
X_missing = missing_data[['gender', 'departure']]
X_missing_proc = enc.transform(X_missing)

In [31]:
y_missing_pred = model.predict(X_missing_proc)

In [32]:
missing_data['pred'] = y_missing_pred

In [33]:
missing_data['pred'].value_counts()

0.0    18541
1.0     8264
Name: pred, dtype: int64

In [34]:
missing_data

       gender             departure  isForcedLabour  pred
1491   female  Moldova, Republic of             NaN   0.0
1492   female  Moldova, Republic of             NaN   0.0
1493   female  Moldova, Republic of             NaN   0.0
1494   female  Moldova, Republic of             NaN   0.0
1495   female  Moldova, Republic of             NaN   0.0
...       ...                   ...             ...   ...
98584  female              Cameroon             NaN   1.0
98585  female              Cameroon             NaN   1.0
98586  female              Cameroon             NaN   1.0
98587  female              Cameroon             NaN   1.0
98588  female              Cameroon             NaN   1.0

[26805 rows x 4 columns]

In [35]:
data['ageBroad'].value_counts()

9--17           12507
30--38          10135
18--20           6040
21--23           5421
24--26           4583
39--47           4135
27--29           3555
48+              2300
0--8             2291
Unknown          1014
age_9_to_17       201
age_0_to_8        102
age_18_to_20       24
age_21_to_23        8
age_24_to_26        4
age_30-38           2
age_27_to_29        2
age_39_47           1
Name: ageBroad, dtype: int64

In [36]:
data['ageBroad'].dtype

dtype('O')

In [37]:
def ages(n):
    if n == 'age_9_to_17':
        return '9--17'
    if n == 'age_0_to_8':
        return '0--8 '
    if n == 'age_18_to_20':
        return '18--20'
    if n == 'age_21_to_23':
        return '21--23'
    if n == 'age_24_to_26':
        return '24--26'
    if n == 'age_30-38':
        return '30--38'
    if n == 'age_27_to_29':
        return '27--29'
    if n == 'age_39_47':
        return '39--47'
    if n == 'Unknown':
        return 'nan'
    else:
        return n

In [38]:
data['ageBroad'] = data['ageBroad'].map(ages)

In [39]:
data['ageBroad'].value_counts()

9--17     12708
30--38    10137
18--20     6064
21--23     5429
24--26     4587
39--47     4136
27--29     3557
48+        2300
0--8       2291
nan        1014
0--8        102
Name: ageBroad, dtype: int64

In [40]:
data['ageBroad'].isna().sum()

46783

In [41]:
data_model = data[['gender', 'departure', 'isForcedLabour', 'ageBroad']].copy()
data_model.dropna(inplace = True)

### First model: RandomForestClassifier. Predicting if it is forced labour

In [42]:
import sklearn 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder

In [43]:
data = pd.read_csv("/Users/paloma/Downloads/final_df.csv")

/Users/paloma/.pyenv/versions/3.8.12/envs/ht_project/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,4,26,87,89,90,91,92,95,96,100,101,104,108,114,116) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [44]:
def ages(n):
    if n == 'age_9_to_17':
        return '9--17'
    if n == 'age_0_to_8':
        return '0--8 '
    if n == 'age_18_to_20':
        return '18--20'
    if n == 'age_21_to_23':
        return '21--23'
    if n == 'age_24_to_26':
        return '24--26'
    if n == 'age_30-38':
        return '30--38'
    if n == 'age_27_to_29':
        return '27--29'
    if n == 'age_39_47':
        return '39--47'
    if n == 'Unknown':
        return 'nan'
    else:
        return n

In [45]:
data['ageBroad'] = data['ageBroad'].map(ages)

In [46]:
data_model = data[['gender', 'departure', 'isForcedLabour', 'ageBroad']].copy()
data_model.dropna(inplace = True)

In [47]:
model = RandomForestClassifier()

# Define X and y
X = data_model[['gender','departure', 'ageBroad']].copy()
y = data_model[['isForcedLabour']].copy()

#model.fit(X, y)

In [48]:
enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=999)
enc.fit(X)
X_proc = enc.transform(X)

In [49]:
model.fit(X_proc, y.values.flatten())

RandomForestClassifier()

In [50]:
y_pred = model.predict(X_proc)

In [51]:
y['pred'] = y_pred

In [52]:
y['correct'] = y['isForcedLabour'] == y['pred']

In [53]:
y['correct'].value_counts()

True     18129
False     1162
Name: correct, dtype: int64

In [55]:
y

       isForcedLabour  pred  correct
0                 0.0   0.0     True
1                 1.0   0.0    False
2                 0.0   0.0     True
3                 1.0   1.0     True
4                 1.0   1.0     True
...               ...   ...      ...
99103             1.0   1.0     True
99104             1.0   1.0     True
99105             1.0   1.0     True
99106             1.0   1.0     True
99107             1.0   1.0     True

[19291 rows x 3 columns]

In [56]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y['correct'], y['pred'])

array([[  641,   521],
       [10440,  7689]])

In [55]:
missing_data = data[data['isForcedLabour'].isna()].copy()

In [56]:
missing_data = missing_data[['gender', 'departure', 'isForcedLabour', 'ageBroad']].copy()

In [57]:
missing_data.dropna(subset=['gender', 'departure','ageBroad'], inplace=True)

In [58]:
X_missing = missing_data[['gender', 'departure', 'ageBroad']]
X_missing_proc = enc.transform(X_missing)

In [59]:
y_missing_pred = model.predict(X_missing_proc)

In [60]:
missing_data['pred'] = y_missing_pred

In [61]:
missing_data['pred'].value_counts()

0.0    9907
1.0    7528
Name: pred, dtype: int64

In [62]:
missing_data

       gender             departure  isForcedLabour ageBroad  pred
1491   Female  Moldova, Republic of             NaN   18--20   0.0
1492   Female  Moldova, Republic of             NaN   18--20   0.0
1493   Female  Moldova, Republic of             NaN   18--20   0.0
1494   Female  Moldova, Republic of             NaN   18--20   0.0
1495   Female  Moldova, Republic of             NaN   18--20   0.0
...       ...                   ...             ...      ...   ...
98584  Female              Cameroon             NaN   30--38   1.0
98585  Female              Cameroon             NaN   30--38   1.0
98586  Female              Cameroon             NaN   30--38   1.0
98587  Female              Cameroon             NaN   30--38   1.0
98588  Female              Cameroon             NaN   30--38   1.0

[17435 rows x 5 columns]

### Second model: RandomForestClassifier. Predicting if it is forced labour

In [63]:
data_model = data[['gender', 'departure', 'ageBroad', 'isSexualExploit']].copy()
data_model.dropna(inplace = True)

In [64]:
model = RandomForestClassifier()

# Define X and y
X = data_model[['gender','departure', 'ageBroad']].copy()
y = data_model['isSexualExploit'].copy()

#model.fit(X, y)

In [65]:
enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=999)
enc.fit(X)
X_proc = enc.transform(X)

In [66]:
model.fit(X_proc, y.values.flatten())

RandomForestClassifier()

In [67]:
y_pred = model.predict(X_proc)

In [80]:
y

0                                                      1.0
1                                                      0.0
2                                                      0.0
3                                                      1.0
4                                                      1.0
                               ...
98585                                                  1.0
98586                                                  1.0
98587                                                  1.0
98588                                                  1.0
pred     [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, ...
Name: isSexualExploit, Length: 21104, dtype: object

In [69]:
y

0                                                      1.0
1                                                      0.0
2                                                      0.0
3                                                      1.0
4                                                      1.0
                               ...
98585                                                  1.0
98586                                                  1.0
98587                                                  1.0
98588                                                  1.0
pred     [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, ...
Name: isSexualExploit, Length: 21104, dtype: object

In [70]:
# y['correct'] = y['isSexualExploit'] == y['pred']

In [71]:
# y['correct'].value_counts()

In [72]:
y

0                                                      1.0
1                                                      0.0
2                                                      0.0
3                                                      1.0
4                                                      1.0
                               ...
98585                                                  1.0
98586                                                  1.0
98587                                                  1.0
98588                                                  1.0
pred     [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, ...
Name: isSexualExploit, Length: 21104, dtype: object

In [73]:
missing_data = data[data['isSexualExploit'].isna()].copy()

In [74]:
missing_data = missing_data[['gender', 'departure', 'isSexualExploit', 'ageBroad']].copy()

In [75]:
missing_data.dropna(subset=['gender', 'departure','ageBroad'], inplace=True)

In [76]:
X_missing = missing_data[['gender', 'departure', 'ageBroad']]
X_missing_proc = enc.transform(X_missing)

In [77]:
y_missing_pred = model.predict(X_missing_proc)

In [78]:
missing_data['pred'] = y_missing_pred

In [79]:
missing_data['pred'].value_counts()

0.0    13599
1.0     2024
Name: pred, dtype: int64