In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
HT_df = pd.read_csv('gs://websitehumantrafficking/final_df.csv')

/Users/lega/.pyenv/versions/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,27,88,90,91,92,93,96,97,101,102,105,109,115,117) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
HT_df['gender'].unique()

array(['female', 'male', nan, 'Transgender/NonConforming'], dtype=object)

In [4]:
HT_df['gender'].replace({'Male': 'male', 'Female': 'female'}, inplace=True)

In [5]:
HT_df['gender'].unique()

array(['female', 'male', nan, 'Transgender/NonConforming'], dtype=object)

In [6]:
HT_df['ageBroad'].unique()

array([nan, '9-17', '0-8', '24-26', '18-20', '21-23', '39-47', '27-29',
       '30-38', '48+'], dtype=object)

In [7]:
HT_df['arrival_1']

0        American Samoa
1               Lebanon
2                 India
3         United States
4                 Sudan
              ...
99103             Libya
99104             Libya
99105             Libya
99106             Libya
99107             Libya
Name: arrival_1, Length: 99108, dtype: object

In [16]:
HT_df['isAbduction'].value_counts()

0.0    31335
1.0      445
Name: isAbduction, dtype: int64

In [8]:
scraped_data_only = HT_df[0:1358]

In [10]:
scraped_data_only.iloc[:,27:33]

,RecruiterRelationship,isAbduction,rec_method_online,rec_method_recagency,recruiterRelationIntimatePartner,recruiterRelationFamily
0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
1353,0.0,1.0,0.0,0.0,0.0,0.0
1354,0.0,0.0,0.0,0.0,0.0,0.0
1355,0.0,0.0,0.0,0.0,0.0,0.0
1356,0.0,0.0,0.0,0.0,0.0,0.0
1357,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
rec_method = scraped_data_only[['isAbduction', 'rec_method_recagency', 'rec_method_online']]