In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

In [77]:
response = requests.get("http://antislavery.ac.uk/items/show/2632")
soup = BeautifulSoup(response.content, "html.parser")

In [78]:
name = soup.find("h3", class_ ="item-title__title")
name.text.split()[0]

'Yar'

In [79]:
testimonies = []
for item in soup.find_all("div", class_= "item-title"):
    name = item.find("h3", class_="item-title__title").text.split()[0]
    narrative_year = item.find("h5", class_="item-title__meta").text.split()[0]
    testimonies.append({'name': name, 'narrative_year': narrative_year})
testimonies

[{'name': 'Yar', 'narrative_year': '2014'}]

In [80]:
text = []
for element in soup.find("div", class_="text-item-body no-select").find_all("p"):
    text.append(element.text)
text3 =' '.join(text)
text3

'I do not remember how I was captured. I only remember living with Ibrahim Mohammed as a slave. Ibrahim has a wife called Zaynab and two children, one boy and one girl. I knew from the way I was treated that I was not from them. They called me “dirty Dinka,” “slave,” “ugly Dinka.” I used to sleep on the ground with the goats. I cleaned the house, collected water and looked after the goats. I had to eat left over food most of the time. I was forced to be Muslim, and circumcised. I got sick one day, but Ibrahim insisted that I must go and collect water. I came home late from the water, so Ibrahim beat me and hit my eye with a piece of wood. He continued beating me for very long time. I saw blood coming out from my eye and I could not see with it. I have been in pain for many days.\xa0 The Arab master said,\xa0“Look, you slave Dinka girl, I will kill you the same way my father killed your mother in South Sudan.”\xa0This was the first time I learned that my mother was killed by Arab master’s father. I was very upset. I went to the forest with goats and escaped to another village. I met the slave retriever, who took me to his camp and then put me on a truck to the Kiir River with other freed Dinka slaves. We walked from there to South Sudan. The slave retriever gave us food to eat.\xa0\xa0 I am very happy to be in South Sudan. No one calls me names or beats me here. Narrative provided by Christian Solidarity International \xa0'

In [81]:
maplocation = re.findall("mapLocation = .(.*).,",soup.find("script").text)[0]
maplocation

'12.862807,30.217636'

In [82]:
x = str(soup.find("section", class_="item-meta"))
x

'<section class="item-meta">\n<dl class="item-meta__list">\n<dt class="item-meta__title-container"><h4 class="item-meta__title">Country</h4></dt>\n<dd class="item-meta__value">\n<ul> <li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=92&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Sudan&amp;submit_search=Search">Sudan</a> </li> </ul> </dd>\n<dt class="item-meta__title-container"><h4 class="item-meta__title">Theme</h4></dt>\n<dd class="item-meta__value">\n<ul> <li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=59&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Forced+labour&amp;submit_search=Search">Forced labour</a> </li> </ul> </dd>\n<dt class="item-meta__title-container"><h4 class="item-meta__title">Type</h4></dt>\n<dd class="item-meta__value">\n<ul> <li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=51&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Narrative&amp;submit_search=Search">Narrative</a> </li> </ul> </dd>\n<dt class="item-meta__title-container"><h4 class="item-meta__title">Tags</h4></dt>\n<dd class="item-meta__value">\n<ul>\n<a href="/items/browse?tags=Religious+Persecution" rel="tag">Religious Persecution</a> </ul>\n</dd>\n</dl>\n</section>'

In [83]:
date_slavery = re.findall("\d{4}-\d*", str(soup.find("section", class_="item-meta")))[0]

IndexError: list index out of range

In [84]:
x = str(soup.find_all("li", {"class": "inline-meta__item"}))
x

'[<li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=92&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Sudan&amp;submit_search=Search">Sudan</a> </li>, <li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=59&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Forced+labour&amp;submit_search=Search">Forced labour</a> </li>, <li class="inline-meta__item"> <a class="no-underline" href="/items/browse?advanced%5B0%5D%5Belement_id%5D=51&amp;advanced%5B0%5D%5Btype%5D=contains&amp;advanced%5B0%5D%5Bterms%5D=Narrative&amp;submit_search=Search">Narrative</a> </li>]'

In [85]:
re.findall(".trafficked from", str(soup.find_all("li", {"class": "inline-meta__item"})))

[]

In [86]:
re.findall(".>(.*).slavery location", str(soup.find_all("li", {"class": "inline-meta__item"})))

[]

In [89]:
take = soup.find("dd", {"class": "item-meta__value"}).text
countries = re.findall("\n..(.*)", take)[0]
departure = re.findall("(.*).slavery location", countries)[0].strip()
arrival = re.findall("slavery location.*?(\w.*) .trafficked from",
                        countries)[0]

IndexError: list index out of range

In [90]:
arrival = 'Sudan (slavery location),             United Kingdom'

In [91]:
len(arrival.split(", "))

2

In [92]:
if len(arrival.split(", "))==2:
    print(arrival.split(", ")[0])
    print(arrival.split(", ")[1])

Sudan (slavery location)
            United Kingdom

In [93]:
if len(arrival.split(", "))==3:
    arrive = [arrival.split(", ")[0], arrival.split(", ")[1], arrival.split(", ")[2]]
elif len(arrival.split(", "))==2:
     arrive = [arrival.split(", ")[0], arrival.split(", ")[1]]
elif len(arrival.split(", "))==1:
    arrive = [arrival.split(", ")[0]]

In [94]:
countries = pd.read_csv("countries of the world.csv")

In [95]:
soup.find_all("li", {"class": "inline-meta__item"})[0].text.strip() in list(countries["Country"])

False

In [96]:
str(re.findall(".trafficked from", str(soup.find_all("li", {"class": "inline-meta__item"}))))

'[]'

In [97]:
countries['Country']= countries['Country'].apply(lambda x: x.strip())
list(countries['Country'])

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia & Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Is.',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Repub. of the',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Gaza Strip',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia, Fed. St.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'N. Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'St Pierre & Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks & Caicos Is',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands',
 'Wallis and Futuna',
 'West Bank',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [98]:
soup.find_all("li", {"class": "inline-meta__item"})[0].text.strip() in list(countries["Country"])

True

In [99]:
if soup.find_all("li", {"class": "inline-meta__item"})[0].text.strip() in list(countries["Country"]):
    departure = soup.find_all("li", {"class": "inline-meta__item"})[0].text.strip()
if soup.find_all("li", {"class": "inline-meta__item"})[1].text.strip() in list(countries["Country"]):
    departure = soup.find_all("li", {"class": "inline-meta__item"})[1].text.strip()
if soup.find_all("li", {"class": "inline-meta__item"})[2].text.strip() in list(countries["Country"]):
    arrival = soup.find_all("li", {"class": "inline-meta__item"})[2].text.strip()

In [101]:
departure

'Sudan'

In [102]:
themes = ["Sexual exploitation", "Children", "Forced labour", "Domestic slavery", "Forced marriage", "Trafficking", "Debt bondage",
"War slavery", "Armed conflict", "Women", "Prison labour", "Migration", "Emancipation"]

## Feature Engineering

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("try.csv")
data.head()

,text,name,year,departure,arrival,theme,latitude,longitude,date_slavery
0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,NaN
1,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,NaN
2,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lank,India,Domestic slavery,24.071318,79.652396,2002-2004
3,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,United States,Domestic slavery,40.412044,-96.870925,1976-1981
4,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,1994-2000

In [5]:
def arrival1(n):
    if len(n)==2:
        return n[0]
def arrival2(n):
    if len(n)==2:
        return n[1]

In [6]:
data["arrival_1"]= data["arrival"].map(arrival1)

TypeError: object of type 'float' has no len()

In [10]:
data["arrival"].dtype

dtype('O')

In [15]:
type(data["arrival"].iloc[0])

str

In [16]:
def list_converter(n):
    return n.split(",")

In [19]:
data["arrival"].map(list_converter)

AttributeError: 'float' object has no attribute 'split'

In [18]:
data["arrival"].iloc[4].split(",")

["['Sudan '", " 'United Kingdom ']"]

end of notebook