## Merge data

In [1]:
import pandas as pd

In [2]:
feature_eng_df_multi_cols = pd.read_csv("../raw_data/feature_eng_df_multi_cols.csv")
fin_df_with_url = pd.read_csv("../raw_data/fin_df_with_url.csv")

In [7]:
fin_df_with_url

,Unnamed: 0,url,text,name,year,departure,theme,latitude,longitude,date_slavery,gender,accuracy,arrival_1,arrival_2,arrival_3
0,0,http://antislavery.ac.uk/items/show/7,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,Forced labour,-14.354000,-170.773600,NaN,female,67.0,American Samoa,NaN,NaN
1,1,http://antislavery.ac.uk/items/show/8,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lank,Domestic slavery,33.900000,35.500000,NaN,female,98.0,Lebanon,NaN,NaN
2,2,http://antislavery.ac.uk/items/show/102,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lank,Domestic slavery,24.071318,79.652396,2002-2004,female,97.0,India,NaN,NaN
3,3,http://antislavery.ac.uk/items/show/103,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,Domestic slavery,40.412044,-96.870925,1976-1981,female,100.0,United States,NaN,NaN
4,4,http://antislavery.ac.uk/items/show/104,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,War slavery,16.865226,32.271106,1994-2000,male,90.0,Sudan,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,1354,http://antislavery.ac.uk/items/show/2950,"In Nigeria, it was difficult to make a living....",Shola,2020,Nigeria,too much themes,26.335100,17.228331,NaN,male,80.0,Libya,NaN,NaN
1355,1355,http://antislavery.ac.uk/items/show/2951,"My name is Seif Eldein. I’m 24 years old, from...",Seif,2020,Chad,"['Trafficking', 'Forced labour']",26.335100,17.228331,NaN,male,100.0,Libya,NaN,NaN
1356,1356,http://antislavery.ac.uk/items/show/2952,I was begging and sleeping in the street behin...,Rita,2020,Nigeria,"['Sexual exploitation', 'Trafficking']",43.769562,11.255814,NaN,female,100.0,Italy,Libya,NaN
1357,1357,http://antislavery.ac.uk/items/show/2953,I lived with my mother and father and they wer...,Nora,2020,Nigeria,too much themes,41.889499,12.528505,NaN,female,100.0,Italy,Libya,Niger
1358,1358,http://antislavery.ac.uk/items/show/2954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
feature_eng_df_multi_cols

,Unnamed: 0,Unnamed: 0.1,text,name,year,departure,arrival,theme,latitude,longitude,...,transport_truck,age_0_to_8,age_9_to_17,age_18_to_20,age_21_to_23,age_24_to_26,age_27_to_29,age_30-38,age_39_47,age_48+
0,0,0,My name is Vi. And I am 28 years old. I arrive...,Vi,2001.0,Vietnam,American Samoa,Forced labour,-14.354000,-170.773600,...,[],[],[],[],[],[],[],[],[],[]
1,1,1,Thank you for the opportunity to testify befor...,Beatrice,2005.0,Sri Lank,Lebanon,Domestic slavery,33.900000,35.500000,...,[],[],[],[],[],[],[],[],[],[]
2,2,2,My sister and I were living in a village. We w...,Kavita,2004.0,Sri Lank,India,Domestic slavery,24.071318,79.652396,...,[],[],['I was 12'],[],[],[],[],[],[],[]
3,3,3,I grew up in a village of between 500 and 700 ...,Maria,2005.0,Mexico,United States,Domestic slavery,40.412044,-96.870925,...,[],[],['I was 15'],[],[],[],[],[],[],[]
4,4,4,"I was living in a village, Karko, in the Nuba ...",Mende,2003.0,Sudan,"['Sudan ', 'United Kingdom ']",War slavery,16.865226,32.271106,...,[],[],['I was 12'],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1353,1353,1353,"My name is Suleiman Ali,Â IâmÂ Sudanese. I w...",Suleiman,2020,Egypt,Libya,Trafficking,26.335100,17.228331,...,[],[],[],[],[],[],[],[],[],[]
1354,1354,1354,"In Nigeria, it was difficult to make a living....",Shola,2020,Nigeria,Libya,too much themes,26.335100,17.228331,...,[],[],[],[],[],[],[],[],[],[]
1355,1355,1355,"My name is SeifÂ Eldein. Iâm 24 years old, f...",Seif,2020,Chad,Libya,"['Trafficking', 'Forced labour']",26.335100,17.228331,...,[],[],[],[],[],[],[],[],[],[]
1356,1356,1356,I was begging and sleeping in the street behin...,Rita,2020,Nigeria,"['Italy ', 'Libya ']","['Sexual exploitation', 'Trafficking']",43.769562,11.255814,...,['truck'],[],[],[],[],[],[],[],[],[]
1357,1357,1357,I lived with my mother andÂ fatherÂ and they w...,Nora,2020,Nigeria,"['Italy ', 'Libya ', 'Niger ']",too much themes,41.889499,12.528505,...,['truck'],[],[],[],[],[],[],[],[],[]

In [9]:
data = fin_df_with_url.merge(feature_eng_df_multi_cols, how='outer', on='name')

In [18]:
data = data.drop(columns=['Unnamed: 0.1','Unnamed: 0_x'])

In [20]:
data.to_csv("merged_data_24_11.csv")